h2{
  color: #fff;
  text-shadow: 3px 3px 4px rgb(84, 160, 84);
}

.header_bar {
  display: flex;
}

.header{
  background: url(https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/phpxsIApe.png) center center/cover no-repeat;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2rem;
  flex-grow: 1;
}

.form {
  margin-left: 2%;
  width: 100px;
  padding: 2rem;
  margin-left: inherit;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2rem 2rem 2%;
  border: 10px double #326F06;
}

input{
  border-width: .5rem;
  align-content: center;
  width: 90%;
  margin: inherit;
}

.GM_List{
  column-count: 4;
 
}
