
h2{
  color: #fff;
  text-shadow: 9px 7px 4px rgb(84, 160, 84);
}

a:link, a:visited {
  background-color: #459764;
  color: white;
  padding: 9px 9px;
  padding-block: center;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display:flex;
  margin-right: 2px;
  justify-content: center;
  position:relative;
  right: 0px;
  width: 200px;
  border: 3px solid #076412;
  padding: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

a:hover, a:active {
  background-color: rgb(154, 231, 164);
  color: black
}

.navBar, .search{
  display: flex;
  border-radius: 0px;
  border: 2px outset #39a61a;
  border-width: .4rem;
  padding: .1%;
  align-content: right;
  text-align: right;
  width: 98%;
  margin: inherit;
}

.header_bar {
  display: flex;
}

.mainPage{
  background: #fff url(https://tryengineering.org/wp-content/uploads/bigstock-208614778.jpg) center top/contain no-repeat;
  padding: 0rem 2rem 90%;
  flex-grow: 1;
}

.container{
  background: linear-gradient(68deg, #06940E 0%, #fff 88%);
}

.header{
  background: url(https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/phpxsIApe.png) center center/cover no-repeat;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2rem 2rem 2%;
  flex-grow: 1;
  
}

.form {
  margin-left: 2%;
  width: 100px;
  padding: 2rem;
  margin-left: inherit;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2rem 2rem 2%;
  border: 10px ridge #79be5f;
  background: linear-gradient(203deg, #137545 0%, #fff 100%);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
  border-width: .5rem;
  align-content: center;
  width: 90%;
  margin: inherit;
}

.GM_List{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;   
}

.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 max-width: 190px;
}

.input {
 width: 100%;
 height: 40px;
 line-height: 28px;
 padding: 0 10rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(13, 154, 5, 0.4);
 background-color: rgb(213, 243, 218);
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 2rem;
 height: 1rem;
}






